


.navbar {
    background-color: #000;
    color: white;
    diplay: flex;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
    padding:0 1rem;
  }

.navbar ul
{
    padding:0;
    marign:0;
    list-style:none;
    displat:flex;
    gap:1rem;
}

h2
{
    margin:0;
    color:black;
}